asgiref==3.8.1
colorama==0.4.6
Django==5.1.4
django-cors-headers==4.6.0
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-extensions==3.2.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-nested-routers==0.94.1
git-filter-repo==2.47.0
packaging==24.2
pillow==11.0.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
PyMuPDF==1.25.3
pytesseract==0.3.13
python-decouple==3.8
python-dotenv==1.1.0
pyzbar==0.1.9
qrcode==8.0
sqlparse==0.5.2
tzdata==2025.1
whitenoise==6.8.2
